@import "tailwindcss";
@import "@fontsource/inter"; /* Defaults to 400 weight */
@import "@fontsource/ibm-plex-serif";

@theme {

  --font-inter: "Inter", sans-serif;
  --font-ibm: "IBM Plex Serif", sans-serif;
  --text-xxs: 10px;
  --text-xxxs: 9px;
  --text-11px: 11px;
  
}

/* index.css or any global css file */
.swiper-pagination-bullet {
  background-color: #e5e7eb; /* Tailwind gray-200 */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #8b5cf6; /* Tailwind violet-600 */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


